@font-face{
    font-family: "commando";
    src: url("../fonts/commando.ttf") format("truetype");
}

@font-face {
    font-family: 'Avenir Next Rounded Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir Next Rounded Pro Regular'), url('../fonts/AvenirNextRoundedProRegular.woff') format('woff');
}

@font-face {
    font-family: 'Avenir Next Rounded Pro Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir Next Rounded Pro Medium'), url('../fonts/AvenirNextRoundedProMedium.woff') format('woff');
}

@font-face {
    font-family: 'Avenir Next Rounded Pro Demi';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir Next Rounded Pro Demi'), url('../fonts/AvenirNextRoundedProDemi.woff') format('woff');
}

@font-face {
    font-family: 'Avenir Next Rounded Pro Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir Next Rounded Pro Bold'), url('../fonts/AvenirNextRoundedProBold.woff') format('woff');
}

html, body {
    height: auto;
}

html {
	background: radial-gradient(#49798D,#AE8991);
}

body {
	background: linear-gradient(#335174, #1D2F43);
	margin: 2em auto 2em;

}

.grid-container {
    display: grid;
    grid-template-columns: 25% 15% 10% 20% 5% 25%;
    grid-template-rows: min-content min-content min-content max-content min-content min-content min-content min-content;
    gap: 0px 0px;
    grid-template-areas:
      "logo      logo      navup     navup     navup     navup"
      "promotion promotion promotion promotion promotion promotion"
      "cat       cat       cat       cat       cat       cat"
      "main      main      main      main      main      main"
      "shop1     shop2     shop2     shop3     shop3     shop4"
      "shop5     shop6     shop6     shop7     shop7     shop8"
      "shop9     shop10    shop10    shoppic   shoppic   shoppic"
      "navdown   navdown   copyright copyright copyright copyright";
}

.main { grid-area: main; }
.logo { grid-area: logo; }
.navup { grid-area: navup; }
.promotion { grid-area: promotion; }
.cat { grid-area: cat; }
.navdown { grid-area: navdown; }
.copyright { grid-area: copyright; }
.shop1 { grid-area: shop1}
.shop2 { grid-area: shop2}
.shop3 { grid-area: shop3}
.shop4 { grid-area: shop4}
.shop5 { grid-area: shop5}
.shop6 { grid-area: shop6}
.shop7 { grid-area: shop7}
.shop8 { grid-area: shop8}
.shop9 { grid-area: shop9}
.shop10 { grid-area: shop10}

.navigation a:hover{
    -webkit-filter: brightness(60%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.btn:hover {
    -webkit-filter: brightness(60%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    text-decoration: underline;
}

.btnadd:hover {
    -webkit-filter: brightness(60%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    text-decoration: underline;
}

.navup nav {
    display: none;
}
    
.navup #hamburger-menu{
    display: none;
}
    
.navup #hamburger-menu:checked ~ nav {
    display: inline-block;
}

.navup nav li {
    display: inline-block;
}
      
.navup nav ul {
    padding: 0px;
}

.current {
    font-weight: bold;
}
    
.navup .hamburger-label{
    float: right;
    color: #FFF;
    padding: 20px;
    font-size: 2.5em;
    display: inline-block;
}
    
.navup #hamburger-menu:checked ~ nav {
    display: inline-block;
}

a {
    color: #FF6600;
    font-family: 'Avenir Next Rounded Pro Medium', Tahoma, Verdana, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: -.02em;
    text-decoration: none;
    text-shadow: 0 0 2px #435E7D;
}
      
p {
    color: white;
    text-decoration: none;
    font-family: 'Avenir Next Rounded Pro Medium', Tahoma, Verdana, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: -.02em;
    -webkit-font-smoothing: antialiased;
}

h1, h2 {
    font-family: 'commando', Tahoma, Verdana, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 70px;
    line-height: 1.15;
    letter-spacing: -.02em;
    color: white;
    text-align: center;
}

.main a:hover{
    text-decoration: underline;
}

.cat ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.cat a {
    display: block;
}

.cat a{
    font-size: 18px;
    color: white;
    margin-right: 30px;
    font-style: bold;
    -webkit-filter: brightness(100%);
}

.cat a:hover {
    -webkit-filter: brightness(70%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navdown a:hover{
    -webkit-filter: brightness(60%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

p span {
    display: block;
}

/*mobile styles*/
@media only screen and (max-width:790px) {

html {
background: radial-gradient(#44788D,#F09494);
}

body {
    padding: 0;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 40% 30% 30%;
    grid-template-rows: min-content min-content min-content max-content min-content min-content;
    gap: 0px 0px;
    grid-template-areas:
      "navup navup navup"
      "logo logo logo"
      "cat cat cat"
      "main main main"
      "shop1 shop1 shop1"
      "shop2 shop2 shop2"
      "shop3 shop3 shop3"
      "shop4 shop4 shop4"
      "navdown navdown navdown"
      "copyright copyright copyright";
}

.promotion{
    display: none;
}

.navigation li{
    display: inline-block;
}

.navigation ul {
    padding: 0px;
}

.navigation a{
    padding: 10px;
    display: inline-block;
}
        
.navup nav a {
    color: #9d3400;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

nav {
    justify-content: center;
    text-align: center;
    left: 50%;
    top: 50%;
    margin:auto;
    display:block;
}

.navigation a{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: #44788D;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: -25px;
    -webkit-filter: brightness(100%);
} 

.navigation a i{
    padding: 4px 2px;
    font-size: 32px;
    color: white;
    float: relative;
}

.navigation {
    overflow: hidden;
    background-color: #7793AA;
    border-radius: 50px;
    padding: 8px;
    margin-top: -15px;
}

.icons {
    float: left;
}

.btn {
    background: linear-gradient(to right, #FF6600 , #A5BBC9);
    color: white;
    font-size: 22px;
    padding: 11px 46px;
    border: none;   
    cursor: pointer;
    border-radius: 50px;
    text-align: center;
    float: left;
    margin-top: 0px;
    margin-left: 30px;
    -webkit-filter: brightness(100%);
}

.btnadd {
    background: linear-gradient(to right, #FF6600 , #A5BBC9);
    color: white;
    font-size: 16px;
    padding: 13px 60px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    -webkit-filter: brightness(100%);
}

.shop1{
    background: #3b687a;
    border-radius: 50px;
    width: 83vw;
    height: 83vw;
    margin: 38px;
    box-shadow: 2px 2px 10px 3px #223852
}

.shop2{
    background: #3b687a;
    border-radius: 50px;
    width: 83vw;
    height: 83vw;
    margin: 38px;
    box-shadow: 2px 2px 10px 3px #223852
}

.shop3{
    background: #3b687a;
    border-radius: 50px;
    width: 83vw;
    height: 83vw;
    margin: 38px;
    box-shadow: 2px 2px 10px 3px #223852
}

.shop4{
    background: #3b687a;
    border-radius: 50px;
    width: 83vw;
    height: 83vw;
    margin: 38px;
    box-shadow: 2px 2px 10px 3px #223852
}

.shop1 img{
    max-height: 164px;
    left: 50%;
    top: 50%;
    margin:auto;
    display:block;
    margin-top: 30px;
    margin-bottom: 30px;
    -webkit-filter: brightness(100%);
}

.shop1 img:hover {
    -webkit-filter: brightness(60%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.shop1 p{
    text-align: center;
    margin-top: 25px;
}

.shop2 img{
    max-height: 164px;
    left: 50%;
    top: 50%;
    margin:auto;
    display:block;
    margin-top: 30px;
    margin-bottom: 30px;
    -webkit-filter: brightness(100%);
}

.shop2 img:hover {
    -webkit-filter: brightness(60%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.shop2 p{
    text-align: center;
    margin-top: 25px;
}

.shop3 img{
    max-height: 164px;
    left: 50%;
    top: 50%;
    margin:auto;
    display:block;
    margin-top: 30px;
    margin-bottom: 30px;
    -webkit-filter: brightness(100%);
}

.shop3 img:hover {
    -webkit-filter: brightness(60%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.shop3 p{
    text-align: center;
    margin-top: 25px;
}

.shop4 img{
    max-height: 164px;
    left: 50%;
    top: 50%;
    margin:auto;
    display:block;
    margin-top: 30px;
    margin-bottom: 30px;
    -webkit-filter: brightness(100%);
}

.shop4 img:hover {
    -webkit-filter: brightness(60%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.shop4 p{
    text-align: center;
    margin-top: 25px;
}

.shop5 {
    display:none;
}

.shop6 {
    display:none;
}

.shop7 {
    display:none;
}

.shop8 {
    display:none;
}

.shop9 {
    display:none;
}

.shop10 {
    display:none;
}

.navup{
    background-color: #7793AA;
    box-shadow: 1px 1px 30px 3px #5d788d;
    margin: 0px;
}

.logo{
    background-color: #7793AA;
    box-shadow: 1px 1px 30px 3px #263e58;
    margin: 0px;
}

.logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.cat{
    background-color: #7793AA;
    padding: 25px;
    padding-left: 55px;
    margin-top: 80px;
    margin-bottom: 30px;
    border-radius: 50px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 1px 1px 30px 3px #263e58
}

.catbarleft a, .catbarright a{
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #89A4B7;
    border-radius: 50px;
}

.catbarleft{
    text-align: center;
}

.catbarright ul{
    text-align: center;
}

.promotion img {
    max-width: 100%;
    max-height: 400px;
    margin-top: 100px;
}

.promotion img{
    visibility: hidden;
}

.copyright a{
    display: inline-block;

    float: right;
    font-size: 4em;
    text-shadow: 2px 2px 4px 2px white;
    margin-top: 10px;
    padding: 20px;
    -webkit-filter: brightness(100%);
}

.copyright a:hover{
    -webkit-filter: brightness(60%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.copyright p{
    display: inline-block;
    color: #A5ACB4;
    font-size: 13px;
    font-family: 'Avenir Next Rounded Pro Regular';
    float: left;
    padding-top: 30px;
    padding-left: 150px;
}

.copyright{
    overflow: hidden;
    background-color: #7793AA;
    padding: 8px;
}

.navdown{
    overflow: hidden;
    background-color: #7793AA;
    padding: 8px;
    margin-top: 40px;
}

.navdown li {
    display: inline-block;
}
      
.navdown ul {
    padding: 0px;
}
        
.navdown a {
    color: #9d3400;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

.navdown a{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: #44788D;
    margin-right: 15px;
    margin-left: 15px;
    box-shadow: 1px 1px 2px 1px #3b687a;
    -webkit-filter: brightness(100%);
} 

.navdown a i{
    padding: 4px 4px;
    font-size: 32px;
    color: white;
    float: relative;
}

.iconsdown{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.navdown a:hover{
    -webkit-filter: brightness(60%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.containerabout p{
    display: block;
    text-align: justify;
}

.containerabout img{
    border-radius: 50px;
    height: 295px;
    width: 295px;
    left: 50%;
    top: 50%;
    margin:auto;
    display:block;
    margin-bottom: 40px;
}

.containerabout h1{
    font-size: 60px;
    margin-top: 10px;
    text-shadow: 2px 2px 10px 3px #223852
}

.containerabout p{
    font-size: 16px;
}

.containerabout a{
    font-size: 16px;
}

.containerabout{
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    display: inline-block;
    position: relative;
}

input[type=text], select, textarea {
    width: 100%;
    background-color: #325e79;
    padding: 15px;
    padding-left: 35px;
    padding-right: 35px;
    font-family: 'Avenir Next Rounded Pro Medium', Tahoma, Verdana, sans-serif;
    color: #bbd0df;
    font-size: 20px;
    border: 1px solid #325e79;
    border-radius: 50px;
    box-sizing: border-box;
    margin-top: 12px;
    margin-bottom: 19px;
    resize: vertical;
}
  
input[type=submit] {
    background: linear-gradient(to right, #FF6600 , #A5BBC9);
    color: white;
    font-size: 22px;
    padding: 13px 55px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-filter: brightness(100%);
}

label {
    color: white;
    font-family: 'Avenir Next Rounded Pro Medium', Tahoma, Verdana, sans-serif;
    padding-left: 35px;
    font-size: 16px;
}
  
input[type=submit]:hover {
    -webkit-filter: brightness(60%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    text-decoration: underline;
}

.containercontact {
    padding: 30px;
}

.containercontact p {
    display: block;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;
}

.containercontact a{
    font-size: 15px;
}

input[type=password] {
    width: 100%;
    background-color: #325e79;
    padding: 15px;
    padding-left: 35px;
    padding-right: 35px;
    font-family: 'Avenir Next Rounded Pro Medium', Tahoma, Verdana, sans-serif;
    color: #bbd0df;
    font-size: 20px;
    border: 1px solid #325e79;
    border-radius: 50px;
    box-sizing: border-box;
    margin-top: 12px;
    margin-bottom: 19px;
    resize: vertical;
}

.supportimg img{
    display: none;
}

.support {
    margin: 50px;
}

.support p{
    font-size: 15px;
}

.productimg{
    overflow: hidden;
    margin-top: 80px;
    border-radius: 50px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 50px;
    background-color: #748EA1 
}

.productimg img{
    max-height: 220px;
    left: 50%;
    top: 50%;
    margin:auto;
    display:block;
    margin-top: 30px;
    margin-bottom: 30px;
}

.product {
    margin: 35px;
}

.product h1{
    font-size: 50px;
}

.product h2{
    font-size: 35px;
}

.product p{
    font-size: 10px;
    letter-spacing: normal;
    color: #CAD0D7;
    display: block;
    float: left;
    line-height: 16px; 
    margin: 40px;
}

.product a{
    float: left;
    display: block;
    margin-top: 28px;
}

.product .btn{
    float: right;
    display: block;
    margin-top: 20px;
    margin-bottom: 50px;
}

.cart{
    overflow: hidden;
    background-color: #748EA1;
    border-radius: 50px;
    height: 30%;
    margin: 22px;
    margin-top: 60px;
    padding: 60px;
}

.cart h1, .containercheckout h1{
    font-size: 45px;
    display: block;
    margin-top: 0px;
}

.containercheckout{
    overflow: hidden;
    border-radius: 50px;
    height: 46%;
    margin-top: 60px;
    margin: 22px;
    padding: 20px;
    padding: 40px;
    margin-bottom: 20px;
}

hr.line {
    border: 1px solid white;
    margin-top: 30px;
    margin-bottom: 30px;
}

h3 {
    color: #FF6600;
    display: block;
}

.cart a{
    margin-top: 0px;
}

.cart p{
    color: #ffffff;
    text-decoration: normal;
}

.containercheckout .btn{
    margin-top: 20px;
    text-align: center;
    display: block;
    margin-left: 20%;
    margin-right: 20%;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
  
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #839DAF;
    border-radius: 50%;
}
  
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
    background-color: #839DAF;
}
  
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.container input:checked ~ .checkmark:after {
    display: block;
}
  
.container .checkmark:after {
       top: 5px;
      left: 5px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: white;
}
}

/*tablet styles*/
@media only screen and (min-width:791px) and (max-width:1350px) {

.grid-container {
    display: grid;
    grid-template-columns: 25% 15% 10% 20% 5% 25%;
    grid-template-rows: min-content min-content min-content max-content min-content min-content min-content min-content;
    gap: 0px 0px;
    grid-template-areas:
        "logo      logo      navup     navup     navup     navup"
        "promotion promotion promotion promotion promotion promotion"
        "cat       cat       cat       cat       cat       cat"
        "main      main      main      main      main      main"
        "shop1     shop1     shop1     shop2     shop2     shop2"
        "shop3     shop3     shop3     shop4     shop4     shop4"
        "shop5     shop5    shop5    shoppic   shoppic   shoppic"
        "navdown   navdown   copyright copyright copyright copyright";
}

.shop6 {
    display:none;
}

.shop7 {
    display:none;
}

.shop8 {
    display:none;
}

.shop9 {
    display:none;
}

.shop10 {
    display:none;
}

body {
	width: 80%;
	padding: 25px;
	border-radius: 50px;
	box-shadow: 2px 2px 10px 3px #888888;
}

.logo { 
    background: #98B5C7;
    border-radius: 50px 0px 50px 0px;
    margin-top: -25px;
    margin-left: -25px;
    margin-right: 25px;
    margin-bottom: 15px;
}

.logo img {
    max-width: 203px;
    max-height: 124px;
    left: 50%;
    top: 50%;
    margin:auto;
    display:block;
    margin-top: 10px;
}

.navigation a{
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background: #44788D;
    margin-right: 12px; /*space between*/
    -webkit-filter: brightness(100%);
} 

.navigation a i{
    padding: 0px 0px;
    font-size: 19px;
    color: white;
    float: relative;
}

.navigation {
    overflow: hidden;
    background-color: #7793AA;
    border-radius: 50px;
    padding: 8px;
    margin-top: -15px;
}

.icons {
    float: right;
}

.btn {
    background: linear-gradient(to right, #FF6600 , #A5BBC9);
    color: white;
    font-size: 16px;
    padding: 9px 40px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    text-align: center;
    float: left;
    margin-top: 3px;
    margin-left: 3px;
    -webkit-filter: brightness(100%);
}

.navup nav {
    display: block;
}

.navup .hamburger-label {
    display: none;
}

.navup nav a{
    font-size: 15px;
}

.navup nav p{
    padding-left: 20px;
    font-size: 15px;
}
        
.navup nav a {
    color: #9d3400;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

.main h1{
    padding-top: 60px;
    margin-bottom: 20px;
}

.main h1{
    margin-top: -50px;
    text-shadow: 2px 2px 10px 3px #223852
}

.main{
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    display: inline-block;
    position: relative;
}

.promotion img {
    border-radius: 50px;
    max-width: 90%;
    max-height: 400px;
    margin: 40px;
    margin-top: 60px;
    margin-bottom: 70px;
}

.cat{
    background-color: #7793AA;
    border-radius: 50px;
    padding: 15px;
    margin-top: 30px;
    padding-left: 35px;
    box-shadow: 2px 2px 10px 3px #263e58
}

.catbarleft {
    float: left;
}

.catbarleft ul li {
    float: left;
}

.catbarright ul li {
    float: right;
}

.navdown{
    overflow: hidden;
    background-color: #7793AA;
    border-radius: 50px;
    padding: 8px;
    max-width: 235px;
    position: relative;
    margin-top: 100px;
}

.navdown li {
    display: inline-block;
}
      
.navdown ul {
    padding: 0px;
}
        
.navdown a {
    color: #9d3400;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

.navdown a{
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background: #44788D;
    margin-right: 12px; /*space between*/
    box-shadow: 1px 1px 2px 1px #3b687a;
    -webkit-filter: brightness(100%);
} 

.navdown a i{
    padding: 1px 1px;
    font-size: 19px;
    color: white;
    float: relative;
}

.iconsdown {
    margin-left: 10px;
    float: left;
}

.copyright a{
    display: inline-block;
    float: right;
    font-size: 3em;
    text-shadow: 2px 2px 4px 2px white;
    margin-top: 100px;
    -webkit-filter: brightness(100%);
}

.copyright a:hover{
    -webkit-filter: brightness(60%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.copyright p{
    float: left;
    display: inline-block;
    color: #A5ACB4;
    font-size: 13px;
    margin-left: 70px;
    margin-top: 120px;
    font-family: 'Avenir Next Rounded Pro Regular'
}

.shop1{
    background: #3b687a;
    border-radius: 50px;
    block-size: 290px;
    margin: 40px;
    box-shadow: 2px 2px 10px 3px #223852
}

.shop2{
    background: #3b687a;
    border-radius: 50px;
    block-size: 290px;
    margin: 40px;
    box-shadow: 2px 2px 10px 3px #223852
}

.shop3{
    background: #3b687a;
    border-radius: 50px;
    block-size: 290px;
    margin: 40px;
    box-shadow: 2px 2px 10px 3px #223852
}

.shop4{
    background: #3b687a;
    border-radius: 50px;
    block-size: 290px;
    margin: 40px;
    box-shadow: 2px 2px 10px 3px #223852
}

.shop5{
    background: #3b687a;
    border-radius: 50px;
    block-size: 290px;
    margin: 40px;
    box-shadow: 2px 2px 10px 3px #223852
}

.shop6{
    background: #3b687a;
    border-radius: 50px;
    block-size: 290px;
    margin: 40px;
    box-shadow: 2px 2px 10px 3px #223852
}

.shop7{
    background: #3b687a;
    border-radius: 50px;
    block-size: 290px;
    margin: 40px;
    box-shadow: 2px 2px 10px 3px #223852
}

.shop8{
    background: #3b687a;
    border-radius: 50px;
    block-size: 290px;
    margin: 40px;
    box-shadow: 2px 2px 10px 3px #223852
}

.shop9{
    background: #3b687a;
    border-radius: 50px;
    block-size: 290px;
    margin: 40px;
    box-shadow: 2px 2px 10px 3px #223852
}

.shop10{
    background: #3b687a;
    border-radius: 50px;
    block-size: 290px;
    margin: 40px;
    box-shadow: 2px 2px 10px 3px #223852
}

.shop1 img{
    max-height: 134px;
    left: 50%;
    top: 50%;
    margin:auto;
    display:block;
    -webkit-filter: brightness(100%);
}

.shop1 img:hover {
    -webkit-filter: brightness(60%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.shop1 p{
    text-align: center;
    margin-top: 23px;
}

.shop2 img{
    max-height: 134px;
    left: 50%;
    top: 50%;
    margin:auto;
    display:block;
    -webkit-filter: brightness(100%);
}

.shop2 img:hover {
    -webkit-filter: brightness(60%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.shop2 p{
    text-align: center;
    margin-top: 23px;
}

.shop3 img{
    max-height: 134px;
    left: 50%;
    top: 50%;
    margin:auto;
    display:block;
    -webkit-filter: brightness(100%);
}

.shop3 img:hover {
    -webkit-filter: brightness(60%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.shop3 p{
    text-align: center;
    margin-top: 23px;
}

.shop4 img{
    max-height: 134px;
    left: 50%;
    top: 50%;
    margin:auto;
    display:block;
    -webkit-filter: brightness(100%);
}

.shop4 img:hover {
    -webkit-filter: brightness(60%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.shop4 p{
    text-align: center;
    margin-top: 23px;
}

.shop5 img{
    max-height: 134px;
    left: 50%;
    top: 50%;
    margin:auto;
    display:block;
    -webkit-filter: brightness(100%);
}

.shop5 img:hover {
    -webkit-filter: brightness(60%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.shop5 p{
    text-align: center;
    margin-top: 23px;
}

.shop6 img{
    float: left;
    max-height: 134px;
    position: relative;
    padding-left: 62px;
    padding-top: 5px;
    -webkit-filter: brightness(100%);
}

.shop6 img:hover {
    -webkit-filter: brightness(60%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.shop6 p{
    text-align: center;
    margin-top: 23px;
}

.shop7 img{
    float: left;
    max-height: 134px;
    position: relative;
    padding-left: 62px;
    padding-top: 5px;
    -webkit-filter: brightness(100%);
}

.shop7 img:hover {
    -webkit-filter: brightness(60%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.shop7 p{
    text-align: center;
    margin-top: 23px;
}

.shop8 img{
    float: left;
    max-height: 134px;
    position: relative;
    padding-left: 62px;
    padding-top: 5px;
    -webkit-filter: brightness(100%);
}

.shop8 img:hover {
    -webkit-filter: brightness(60%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.shop8 p{
    text-align: center;
    margin-top: 23px;
}

.shop9 img{
    float: left;
    max-height: 134px;
    position: relative;
    padding-left: 62px;
    padding-top: 5px;
    -webkit-filter: brightness(100%);
}

.shop9 img:hover {
    -webkit-filter: brightness(60%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.shop9 p{
    text-align: center;
    margin-top: 23px;
}

.shop10 img{
    float: left;
    max-height: 134px;
    position: relative;
    padding-left: 62px;
    padding-top: 5px;
    -webkit-filter: brightness(100%);
}

.shop10 img:hover {
    -webkit-filter: brightness(60%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.shop10 p{
    text-align: center;
    margin-top: 23px;
}


.btnadd {
    background: linear-gradient(to right, #FF6600 , #A5BBC9);
    color: white;
    font-size: 16px;
    padding: 13px 60px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    -webkit-filter: brightness(100%);
}

.containerabout {
    overflow: hidden;
    background-color: #748EA1;
    border-radius: 50px;
    padding: 90px;
    padding-top: 30px;
    margin-top: 25px;
}

.containerabout p{
    display: inline;
}

.containerabout img{
    border-radius: 50px;
    float: left;
    height: 335px;
    width: 335px;
    margin-right: 80px;
    margin-bottom: 40px;
}

.containerabout p {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.containerabout {
    overflow: hidden;
    background-color: #748EA1;
    border-radius: 50px;
    padding: 90px;
    padding-top: 30px;
    margin-top: 25px;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    display: inline-block;
    position: relative;
}

.containerabout p{
    display: inline;
}

.containerabout img{
    border-radius: 50px;
    float: left;
    height: 335px;
    width: 335px;
    margin-right: 80px;
}

.containerabout h1{
    margin-top: 30px;
    text-shadow: 2px 2px 10px 3px #223852
}

.containerabout p {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

input[type=text], select, textarea {
    width: 100%;
    background-color: #89A5B7;
    padding: 15px;
    padding-left: 35px;
    padding-right: 35px;
    font-family: 'Avenir Next Rounded Pro Medium', Tahoma, Verdana, sans-serif;
    color: #bbd0df;
    font-size: 20px;
    border: 1px solid #89A5B7;
    border-radius: 50px;
    box-sizing: border-box;
    margin-top: 12px;
    margin-bottom: 19px;
    resize: vertical;
}
  
input[type=submit] {
    background: linear-gradient(to right, #FF6600 , #A5BBC9);
    color: white;
    font-size: 22px;
    padding: 13px 54px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-filter: brightness(100%);
}

label {
    color: white;
    font-family: 'Avenir Next Rounded Pro Medium', Tahoma, Verdana, sans-serif;
    padding-left: 35px;
    font-size: 16px;
}
  
input[type=submit]:hover {
    -webkit-filter: brightness(60%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    text-decoration: underline;
}

.containercontact {
    padding: 90px;
    padding-left: 40px;
    padding-right: 40px;
    overflow: hidden;
    background-color: #748EA1;
    border-radius: 50px;
    padding-top: 30px;
    margin-top: 25px;
    margin-top: 50px;
    display: inline-block;
    position: relative;
}

.containercontact p {
    display: block;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;
}

.containercontact a{
    font-size: 15px;
}

input[type=password] {
    width: 100%;
    background-color: #89A5B7;
    padding: 15px;
    padding-left: 35px;
    padding-right: 35px;
    font-family: 'Avenir Next Rounded Pro Medium', Tahoma, Verdana, sans-serif;
    color: #bbd0df;
    font-size: 20px;
    border: 1px solid #89A5B7;
    border-radius: 50px;
    box-sizing: border-box;
    margin-top: 12px;
    margin-bottom: 19px;
    resize: vertical;
}

.supportimg img{
    display: none;
}

.productimg{
    padding: 90px;
    padding-left: 40px;
    padding-right: 40px;
    overflow: hidden;
    background-color: #748EA1;
    border-radius: 50px;
    padding-top: 30px;
    margin-top: 25px;
    margin-top: 50px;
    display: inline-block;
    position: relative;
}

.productimg img{
    max-width: 240px;
}

.product{
    overflow: hidden;
    width: 35%;
    display: inline-block;
    margin-left: 15%;
}

.product h1{
    font-size: 30px;
    display: block;
    float: left;
    margin-top: 10px;
}

.product h2{
    font-size: 20px;
    margin: 0px;
    margin-bottom: 20px;
    display: block;
    float: left;
}

.product p{
    font-size: 10px;
    letter-spacing: normal;
    color: #CAD0D7;
    display: block;
    float: left;
    line-height: 16px;
}

.product a{
    float: left;
    display: block;
    margin-top: 28px;
}

.product .btn{
    float: left;
    display: block;
    margin-top: 20px;
}

.cart{
    overflow: hidden;
    background-color: #748EA1;
    border-radius: 50px;
    height: 35%;
    margin-left: 22px;
    margin-top: 60px;
    padding: 60px;
}

.cart h1, .containercheckout h1{
    font-size: 45px;
    display: block;
    margin-top: 0px;
}

.containercheckout{
    overflow: hidden;
    background-color: #748EA1;
    border-radius: 50px;
    height: 38%;
    margin-top: 60px;
    margin-right: 22px;
    padding: 20px;
    padding: 60px;
}

hr.line {
    border: 1px solid white;
    margin-top: 30px;
    margin-bottom: 30px;
}

h3 {
    color: #FF6600;
    display: block;
}

.cart a{
    margin-top: 0px;
}

.cart p{
    color: #ffffff;
    text-decoration: normal;
}

.containercheckout .btn{
    margin-top: 40px;
    text-align: center;
    display: block;
    margin-left: 25%;
    margin-right: 25%;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
  
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #839DAF;
    border-radius: 50%;
}
  
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
    background-color: #839DAF;
}
  
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.container input:checked ~ .checkmark:after {
    display: block;
}
  
.container .checkmark:after {
       top: 5px;
      left: 5px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: white;
}

.ccform input[type=text], select, textarea {
    width: 100%;
    background-color: #89A5B7;
    padding: 5px;
    padding-left: 35px;
    padding-right: 35px;
    font-family: 'Avenir Next Rounded Pro Medium', Tahoma, Verdana, sans-serif;
    color: #bbd0df;
    font-size: 15px;
    border: 1px solid #89A5B7;
    border-radius: 50px;
    box-sizing: border-box;
    margin-top: 8px;
    margin-bottom: 13px;
    resize: vertical;
}
}

/*desktop styles*/
@media only screen and (min-width:1351px) {
	
 body {
    width: 1200px;
    padding: 25px;
	border-radius: 50px;
	box-shadow: 2px 2px 10px 3px #888888;
}

.logo { 
    background: #98B5C7;
    border-radius: 50px 0px 50px 0px;
    margin-top: -25px;
    margin-left: -25px;
    margin-right: 25px;
    margin-bottom: 15px;
}

.logo img {
    float: left;
    max-width: 203px;
    max-height: 124px;
    position: relative;
    padding-left: 145px;
    padding-top: 10px;
}

.navigation a{
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background: #44788D;
    margin-right: 12px;
    box-shadow: 2px 2px 10px 3px #223852
    -webkit-filter: brightness(100%);
} 

.navigation a i{
    padding: 0px 0px;
    font-size: 19px;
    color: white;
    float: relative;
}

.navigation {
    overflow: hidden;
    background-color: #7793AA;
    border-radius: 50px;
    padding: 8px;
    margin-top: -15px;
}

.icons {
    float: right;
}

.btn {
    background: linear-gradient(to right, #FF6600 , #A5BBC9);
    color: white;
    font-size: 16px;
    padding: 9px 40px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    text-align: center;
    float: left;
    margin-top: 3px;
    margin-left: 3px;
    -webkit-filter: brightness(100%);
}

.navup nav {
    display: block;
}

.navup .hamburger-label {
    display: none;
}

.navup nav a{
    font-size: 15px;
}

.navup nav p{
    padding-left: 20px;
    font-size: 15px;
}
      
.navup nav a {
    color: #9d3400;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

.promotion img {
    border-radius: 50px;
    max-width: 1110px;
    max-height: 400px;
    margin: 40px;
    margin-top: 60px;
    margin-bottom: 70px;
    box-shadow: 2px 2px 10px 3px #223852
    -webkit-filter: brightness(100%);
}

.promotion img:hover{
    -webkit-filter: brightness(70%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.main h1{
    margin-top: 30px;
}

.cat .btnadd{
    margin-top: 0px;
}

.cat{
    background-color: #7793AA;
    border-radius: 50px;
    margin-top: 30px;
    padding: 15px;
    padding-left: 35px;
    box-shadow: 2px 2px 10px 3px #263e58
}

.catbarleft {
    float: left;
}

.catbarleft ul li {
    float: left;
}

.catbarright ul li {
    float: right;
}

.navdown{
    overflow: hidden;
    background-color: #7793AA;
    border-radius: 50px;
    padding: 8px;
    max-width: 235px;
    position: relative;
    margin-top: 100px;
}

.navdown li {
    display: inline-block;
}
      
.navdown ul {
    padding: 0px;
}
        
.navdown a {
    color: #9d3400;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

.navdown a{
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background: #44788D;
    margin-right: 12px; /*space between*/
    box-shadow: 1px 1px 2px 1px #3b687a;
    -webkit-filter: brightness(100%);
} 

.navdown a i{
    padding: 1px 1px;
    font-size: 19px;
    color: white;
    float: relative;
}

.iconsdown {
    margin-left: 10px;
    float: left;
}

.copyright a{
    display: inline-block;
    float: right;
    font-size: 3em;
    text-shadow: 2px 2px 4px 2px white;
    margin-top: 100px;
    -webkit-filter: brightness(100%);
}

.copyright a:hover{
    -webkit-filter: brightness(60%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.copyright p{
    float: left;
    display: inline-block;
    color: #A5ACB4;
    font-size: 13px;
    margin-left: 70px;
    margin-top: 120px;
    font-family: 'Avenir Next Rounded Pro Regular'
}

.shop1{
    background: #3b687a;
    border-radius: 50px;
    block-size: 290px;
    margin: 40px;
    box-shadow: 2px 2px 10px 3px #223852
}

.shop2{
    background: #3b687a;
    border-radius: 50px;
    block-size: 290px;
    margin: 40px;
    box-shadow: 2px 2px 10px 3px #223852
}

.shop3{
    background: #3b687a;
    border-radius: 50px;
    block-size: 290px;
    margin: 40px;
    box-shadow: 2px 2px 10px 3px #223852
}

.shop4{
    background: #3b687a;
    border-radius: 50px;
    block-size: 290px;
    margin: 40px;
    box-shadow: 2px 2px 10px 3px #223852
}

.shop5{
    background: #3b687a;
    border-radius: 50px;
    block-size: 290px;
    margin: 40px;
    box-shadow: 2px 2px 10px 3px #223852
}

.shop6{
    background: #3b687a;
    border-radius: 50px;
    block-size: 290px;
    margin: 40px;
    box-shadow: 2px 2px 10px 3px #223852
}

.shop7{
    background: #3b687a;
    border-radius: 50px;
    block-size: 290px;
    margin: 40px;
    box-shadow: 2px 2px 10px 3px #223852
}

.shop8{
    background: #3b687a;
    border-radius: 50px;
    block-size: 290px;
    margin: 40px;
    box-shadow: 2px 2px 10px 3px #223852
}

.shop9{
    background: #3b687a;
    border-radius: 50px;
    block-size: 290px;
    margin: 40px;
    box-shadow: 2px 2px 10px 3px #223852
}

.shop10{
    background: #3b687a;
    border-radius: 50px;
    block-size: 290px;
    margin: 40px;
    box-shadow: 2px 2px 10px 3px #223852
}

.shop1 img{
    float: left;
    max-height: 134px;
    position: relative;
    padding-left: 62px;
    padding-top: 5px;
    -webkit-filter: brightness(100%);
}

.shop1 img:hover {
    -webkit-filter: brightness(60%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.shop1 p{
    text-align: center;
    margin-top: 23px;
}

.shop2 img{
    float: left;
    max-height: 134px;
    position: relative;
    padding-left: 62px;
    padding-top: 5px;
    -webkit-filter: brightness(100%);
}

.shop2 img:hover {
    -webkit-filter: brightness(60%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.shop2 p{
    text-align: center;
    margin-top: 23px;
}

.shop3 img{
    float: left;
    max-height: 134px;
    position: relative;
    padding-left: 62px;
    padding-top: 5px;
    -webkit-filter: brightness(100%);
}

.shop3 img:hover {
    -webkit-filter: brightness(60%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.shop3 p{
    text-align: center;
    margin-top: 23px;
}

.shop4 img{
    float: left;
    max-height: 134px;
    position: relative;
    padding-left: 62px;
    padding-top: 5px;
    -webkit-filter: brightness(100%);
}

.shop4 img:hover {
    -webkit-filter: brightness(60%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.shop4 p{
    text-align: center;
    margin-top: 23px;
}

.shop5 img{
    float: left;
    max-height: 134px;
    position: relative;
    padding-left: 62px;
    padding-top: 5px;
    -webkit-filter: brightness(100%);
}

.shop5 img:hover {
    -webkit-filter: brightness(60%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.shop5 p{
    text-align: center;
    margin-top: 23px;
}

.shop6 img{
    float: left;
    max-height: 134px;
    position: relative;
    padding-left: 62px;
    padding-top: 5px;
    -webkit-filter: brightness(100%);
}

.shop6 img:hover {
    -webkit-filter: brightness(60%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.shop6 p{
    text-align: center;
    margin-top: 23px;
}

.shop7 img{
    float: left;
    max-height: 134px;
    position: relative;
    padding-left: 62px;
    padding-top: 5px;
    -webkit-filter: brightness(100%);
}

.shop7 img:hover {
    -webkit-filter: brightness(60%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.shop7 p{
    text-align: center;
    margin-top: 23px;
}

.shop8 img{
    float: left;
    max-height: 134px;
    position: relative;
    padding-left: 62px;
    padding-top: 5px;
    -webkit-filter: brightness(100%);
}

.shop8 img:hover {
    -webkit-filter: brightness(60%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.shop8 p{
    text-align: center;
    margin-top: 23px;
}

.shop9 img{
    float: left;
    max-height: 134px;
    position: relative;
    padding-left: 62px;
    padding-top: 5px;
    -webkit-filter: brightness(100%);
}

.shop9 img:hover {
    -webkit-filter: brightness(60%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.shop9 p{
    text-align: center;
    margin-top: 23px;
}

.shop10 img{
    float: left;
    max-height: 134px;
    position: relative;
    padding-left: 62px;
    padding-top: 5px;
    -webkit-filter: brightness(100%);
}

.shop10 img:hover {
    -webkit-filter: brightness(60%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.shop10 p{
    text-align: center;
    margin-top: 23px;
}

.btnadd {
    background: linear-gradient(to right, #FF6600 , #A5BBC9);
    color: white;
    font-size: 16px;
    padding: 9px 40px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 185px;
    -webkit-filter: brightness(100%);
}

.containerabout {
    overflow: hidden;
    background-color: #748EA1;
    border-radius: 50px;
    padding: 90px;
    padding-top: 30px;
    margin-top: 25px;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    display: inline-block;
    position: relative;
}

.containerabout p{
    display: inline;
}

.containerabout img{
    border-radius: 50px;
    float: left;
    height: 335px;
    width: 335px;
    margin-right: 80px;
}

.containerabout h1{
    margin-top: 30px;
    text-shadow: 2px 2px 10px 3px #223852
}

.containerabout p {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

input[type=text], select, textarea {
    width: 100%;
    background-color: #89A5B7;
    padding: 15px;
    padding-left: 35px;
    padding-right: 35px;
    font-family: 'Avenir Next Rounded Pro Medium', Tahoma, Verdana, sans-serif;
    color: #bbd0df;
    font-size: 20px;
    border: 1px solid #89A5B7;
    border-radius: 50px;
    box-sizing: border-box;
    margin-top: 12px;
    margin-bottom: 19px;
    resize: vertical;
}
  
input[type=submit] {
    background: linear-gradient(to right, #FF6600 , #A5BBC9);
    color: white;
    font-size: 16px;
    padding: 9px 40px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-filter: brightness(100%);
}

label {
    color: white;
    font-family: 'Avenir Next Rounded Pro Medium', Tahoma, Verdana, sans-serif;
    padding-left: 35px;
    font-size: 16px;
}
  
input[type=submit]:hover {
    -webkit-filter: brightness(60%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    text-decoration: underline;
}

.containercontact {
    padding: 90px;
    padding-left: 140px;
    padding-right: 140px;
    overflow: hidden;
    background-color: #748EA1;
    border-radius: 50px;
    padding-top: 30px;
    margin-top: 25px;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    display: inline-block;
    position: relative;
}

.containercontact p {
    display: block;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;
}

.containercontact a{
    font-size: 15px;
}

.loginregister p{
    margin-left: 80px;
    margin-right: 80px;
}

input[type=password] {
    width: 100%;
    background-color: #89A5B7;
    padding: 15px;
    padding-left: 35px;
    padding-right: 35px;
    font-family: 'Avenir Next Rounded Pro Medium', Tahoma, Verdana, sans-serif;
    color: #bbd0df;
    font-size: 20px;
    border: 1px solid #89A5B7;
    border-radius: 50px;
    box-sizing: border-box;
    margin-top: 12px;
    margin-bottom: 19px;
    resize: vertical;
}

.support {
    margin-top: 35px;
    height: 553px;
    width: 300px;
    float: left;
    overflow: hidden;
    background-color: #748EA1;
    border-radius: 50px;
    padding: 40px;
    padding-top: 0px;
    margin-left: 50px;
    margin-right: 50px;
    display: inline-block;
    position: relative;
}

.support h1{
    font-size: 60px;
}

.support p{
    font-size: 16px;
}

.supportimg{
    float: right;
    display: inline-block;
    max-height: 400px;
    max-width: 400px;
    margin-left: 320px;
    
}

.supportimg img{
    float: right;
    display: inline-block;
    max-height: 650px;
    max-width: 650px;
    margin-top: 20px;
    margin-right: 40px;
}

.checked {
    color: orange;
}

.support span{
    text-align: justify;
    display: inline-block;
    position: relative;
}

.productimg{
    overflow: hidden;
    background-color: #748EA1;
    border-radius: 50px;
    float: left;
    width: 45%;
    height: 80%;
    margin-top: 60px;
    margin-left: 40px;
}

.productimg img{
    width: 240px;
    padding: 155px;
    padding-top: 120px;
    padding-bottom: 170px;
}

.product{
    overflow: hidden;
    float: right;
    width: 25%;
    margin-top: 140px;
    margin-right: 165px;
}

.product h1{
    font-size: 45px;
    display: block;
    float: left;
    margin-top: 10px;
}

.product h2{
    font-size: 25px;
    margin: 0px;
    margin-bottom: 20px;
    display: block;
    float: left;
}

.product p{
    font-size: 10px;
    letter-spacing: normal;
    color: #CAD0D7;
    display: block;
    float: left;
    line-height: 16px;
}

.product a{
    float: left;
    display: block;
    margin-top: 28px;
}

.product .btn{
    float: right;
    display: block;
    margin-top: 20px;
}

.cart{
    overflow: hidden;
    background-color: #748EA1;
    border-radius: 50px;
    float: left;
    width: 28%;
    height: 60%;
    margin-left: 22px;
    margin-top: 60px;
    padding: 90px;
}

.cart h1, .containercheckout h1{
    font-size: 45px;
    display: block;
    margin-top: 0px;

}

.containercheckout{
    overflow: hidden;
    background-color: #748EA1;
    border-radius: 50px;
    float: right;
    width: 28%;
    height: 60%;
    margin-top: 60px;
    margin-right: 22px;
    padding: 20px;
    padding: 90px;
}

hr.line {
    border: 1px solid white;
    margin-top: 30px;
    margin-bottom: 30px;
}

h3 {
    color: #FF6600;
    display: block;
}

.cart a{
    margin-top: 0px;
}

.cart p{
    color: #ffffff;
    text-decoration: normal;
}

.containercheckout .btn{
    margin-left: 90px;
    margin-top: 40px;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
  
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #839DAF;
    border-radius: 50%;
}
  
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
    background-color: #839DAF;
}
  
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.container input:checked ~ .checkmark:after {
    display: block;
}
  
.container .checkmark:after {
       top: 5px;
      left: 5px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: white;
}

.ccform input[type=text], select, textarea {
    width: 100%;
    background-color: #89A5B7;
    padding: 5px;
    padding-left: 35px;
    padding-right: 35px;
    font-family: 'Avenir Next Rounded Pro Medium', Tahoma, Verdana, sans-serif;
    color: #bbd0df;
    font-size: 15px;
    border: 1px solid #89A5B7;
    border-radius: 50px;
    box-sizing: border-box;
    margin-top: 8px;
    margin-bottom: 13px;
    resize: vertical;
}
}