@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

html, body {
	margin: 0;
    padding: 0;
    height: auto;
    background: linear-gradient(#335174, #1D2F43);
}

html {
	background: radial-gradient(#44788D,#F09494);
}

body {
	background: linear-gradient(#335174, #1D2F43);
	margin: 2em auto 2em;
	font: 100% Arial, Helvetica, sans-serif;

}

.grid-container {
    display: grid;
    grid-template-columns: 40% 30% 30%;
    grid-template-rows: min-content min-content min-content max-content min-content;
    gap: 0px 0px;
    grid-template-areas:
      "logo navup navup"
      "promotion promotion promotion"
      "cat cat cat"
      "main main main"
      "navdown copyright copyright";
}

.main { grid-area: main; }
.logo { grid-area: logo; }
.navup { grid-area: navup; }
.promotion { grid-area: promotion; }
.cat { grid-area: cat; }
.navdown { grid-area: navdown; }
.copyright { grid-area: copyright; }

.logo img {
    float: left;
    max-width: 213px;
    max-height: 134px;
    position: relative;
    padding-left: 80px;
    padding-top: 10px;
}

.navigation a{
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background: #44788D;
    margin-right: 12px; /*space between*/
    box-shadow: 1px 1px 2px 1px #3b687a;
} 

.navigation a i{
    padding: 1px 1px;
    font-size: 19px;
    color: white;
    float: relative;
}

.navigation {
    overflow: hidden;
    background-color: #7793AA;
    border-radius: 50px;
    padding: 8px;
    margin-top: -15px;
}
.icons {
    float: right;
}

.btn {
    background: linear-gradient(to right, #FF6600 , #A5BBC9);
    color: white;
    font-size: 16px;
    padding: 9px 40px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    text-align: center;
    float: left;
    margin-top: 2px;
    margin-left: 3px;
}
  
.btn:hover {
    background: linear-gradient(to right, #813400 , #7A8993);
    color: white;
    text-decoration: underline;
}

nav {
    display: none;
}
    
#hamburger-menu{
    display: none;
}
    
#hamburger-menu:checked ~ nav {
    display: inline-block;
}

nav li {
    display: inline-block;
}
      
nav ul {
    padding: 0px;
}
        
nav a {
    color: #9d3400;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}
      
nav a:hover {
    text-decoration: underline;
}

.current {
    font-weight: bold;
}
    
.hamburger-label{
    float: right;
    color: #FFF;
    padding: 20px;
    font-size: 2.5em;
    display: inline-block;
}
    
#hamburger-menu:checked ~ nav {
    display: inline-block;
}
     
a {
    color: #FF6600;
    font-family: 'Quicksand', Tahoma, Verdana, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: -.02em;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    text-shadow: 0 0 2px #435E7D;
}
      
p {
    color: white;
    text-decoration: none;
    font-family: 'Quicksand', Tahoma, Verdana, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: -.02em;
    -webkit-font-smoothing: antialiased;
}

h1, h2 {
    font-family: 'Quicksand', Tahoma, Verdana, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 74px;
    line-height: 1.15;
    letter-spacing: -.02em;
    -webkit-font-smoothing: antialiased;
    color: white;
}

.catbar{
    overflow: hidden;
    background-color: #7793AA;
    border-radius: 50px;
    padding: 8px;
}

.catbar a{
    font-size: 19px;
    color: white;
    margin-right: 12px;
    font-style: bold
}

.catbar li{
    display: inline-block
}

.catbar a:hover {
    text-decoration: underline;
}

.navdown{
    overflow: hidden;
    background-color: #7793AA;
    border-radius: 50px;
    padding: 8px;
    max-width: 235px;
} 

.navdown a{
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background: #44788D;
    margin-right: 12px; /*space between*/
    box-shadow: 1px 1px 2px 1px #3b687a;
} 

.navdown a i{
    padding: 1px 1px;
    font-size: 19px;
    color: white;
    float: relative;
}

.iconsdown {
    margin-left: 10px;
    float: left;
}

.copyright a{
    display: inline-block;
    float: right;
    font-size: 3em;
    text-shadow: 2px 2px 4px 2px white;
}

.copyright p{
    float: left;
    display: inline-block;
    color: #A5ACB4;
    font-size: 13px;
    margin-left: 70px;
    margin-top: 20px;
}

/*mobile styles*/
@media only screen and (max-width:790px) {

html {
background: radial-gradient(#44788D,#F09494);
	
}

body {
    padding: 0;
    margin: 0;
}

.logo img {
    float: center;
    max-width: 213px;
    max-height: 134px;
    position: absolute;
    left: 50%;
    top: 50%; 
    margin-left: -200px;
    margin-top: -350px;
}

.catbar{
    margin-left: 20px;
    margin-right: 20px;
}

.promotion img {
    max-width: 100%;
    max-height: 400px;
    margin-top: 100px;
}

.navdown{
    overflow: hidden;
    background-color: #7793AA;
    border-radius: 50px;
    padding: 8px;
    max-width: 235px;
    margin-right: -60px;
}
}

/*tablet styles*/
@media only screen and (min-width:791px) and (max-width:1300px) {

body {
	width: 80%;
	padding: 25px;
	border-radius: 30px;
	box-shadow: 2px 2px 10px 3px #888888;
}

.logo { 
    background: #98B5C7;
    border-radius: 30px 0px 30px 0px;
    margin-top: -25px;
    margin-left: -25px;
    margin-right: 25px;
    margin-bottom: 15px;
}

.logo img {
    float: relative;
    max-width: 203px;
    max-height: 124px;
    position: absolute;
}

nav {
    display: block;
}

.hamburger-label {
    display: none;
}

nav a{
    font-size: 15px;
}

nav p{
    padding-left: 20px;
    font-size: 15px;
}

.promotion img {
    border-radius: 50px;
    max-width: 90%;
    max-height: 400px;
    margin: 40px;
    margin-top: 60px;
    margin-bottom: 70px;
}
}

/*desktop styles*/
@media only screen and (min-width:1301px) {
	
 body {
 width: 1200px;
 padding: 25px;
	border-radius: 30px;
	box-shadow: 2px 2px 10px 3px #888888;
}

.logo { 
    background: #98B5C7;
    border-radius: 30px 0px 30px 0px;
    margin-top: -25px;
    margin-left: -25px;
    margin-right: 25px;
    margin-bottom: 15px;
}

.logo img {
    float: left;
    max-width: 203px;
    max-height: 124px;
    position: relative;
    padding-left: 145px;
    padding-top: 10px;
}

nav {
    display: block;
}

.hamburger-label {
    display: none;
}

nav a{
    font-size: 15px;
}

nav p{
    padding-left: 20px;
    font-size: 15px;
}

.promotion img {
    border-radius: 50px;
    max-width: 1110px;
    max-height: 400px;
    margin: 40px;
    margin-top: 60px;
    margin-bottom: 70px;
}
}